.main
  div.header
    div.contactNodeArea.left
      a.contactNode(href="mailto:smile@lampshade.life" target="_blank")
        i.fa.fa-envelope
      a.contactNode(href="https://twitter.com/ypsilampshade" target="_blank")
        i.fa.fa-twitter
      a.contactNode(href="https://www.facebook.com/rickyherbert84" target="_blank")
        i.fa.fa-facebook
    h1 ricky herbert
    div.contactNodeArea.right
      a.contactNode(href="https://www.instagram.com/beatgen" target="_blank")
        i.fa.fa-instagram
      a.contactNode(href="http://rickyherbert.tumblr.com" target="_blank")
        i.fa.fa-tumblr
      a.contactNode(href="https://medium.com/@rickysandcastle" target="_blank")
        i.fa.fa-medium

  timeline

