$headerHeight: 80px;
.main {
  $accentColor: #6104db;
  $accentColorLight: lighten($accentColor, 15%);
  $accentColorDark: darken($accentColor, 15%);
  $white: lighten($accentColor, 70%);
  $easeOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);

  padding-top: $headerHeight + 40;

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(to bottom, $accentColor, $accentColorLight);
    height: $headerHeight;
    line-height: $headerHeight;
    z-index: 10;
    box-shadow: 1px 0 20px rgba(0,0,0, .3);
  }

  h1 {
    text-align: center;
    font-size: 42px;
    margin: 0;
    font-family: Radley, Helvetica, sans-serif;
    color: $white;
    text-shadow: 1px 1px rgba($accentColorDark, 40%);
  }

  $contactNodeAreaPadding: 15px;
  .contactNodeArea {
    position: absolute;
    height: 100%;
    top: 0;

    &.left {
      left: $contactNodeAreaPadding;
    }
    &.right {
      right: $contactNodeAreaPadding;
    }
  }

  $contactNodeWidth: 55px;
  .contactNode {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    color: $white;
    width: $contactNodeWidth;
    text-align: center;
    vertical-align: top;

    &:hover i {
      transform: scale(1.3, 1.3);
      color: $accentColorDark;
      transition: transform 4s $easeOut,
                  color .2s $easeOut;
    }

    &:active i {
      transform: scale(.9, .9);
      color: darken($accentColor, 30%);
      transition: all .2s $easeOut;
    }

    div {
      display: inline-block;
      vertical-align: middle;
    }
    i {
      padding: 0 8px;
      font-size: 25px;
      vertical-align: middle;
      transition: all .5s $easeOut;
    }
  }

  $contactPadding: 50px;

  .charts {
    display: flex;
    position: relative;
    margin: 15px 30px 20px;
    padding: 10px 40px;
    border-radius: 5px;
    background: white;

    h2 {
      margin: 5px 0;
    }

    .separator {
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      background: radial-gradient(circle, #000 0%, rgba(0, 0, 0, 0));
      height: 440px;
    }
  }

  h2.tools, h2.exp {
    text-transform: uppercase;
    text-align: center;
  }
  .tools-section {
    display: flex;
    max-width: 700px;
    margin: 20px auto 20px;
    padding: 0;
    @include card;

    .tool {
      $border: 1px solid $accentColor;
      $height: 35px;
      background: rgb(164, 198, 57);
      color: white;
      font-weight: 600;
      border-left: $border;
      text-align: center;
      height: $height;
      line-height: $height;

      &.git {
        flex: 0 0 16%;
        border-radius: 5px 0 0 5px;
        border-left: none;
      }
      &.intellij {
        flex: 0 0 23%;
      }
      &.eclipse {
        flex: 0 0 23%;
      }
      &.xcode {
        flex: 0 0 23%;
      }
      &.gulp {
        flex: 0 0 15%;
        border-radius: 0 5px 5px 0;
      }
    }
  }

}

@media print {
  html {
    transform: scale(.9);
    transform-origin: top center;
  }
  .main {
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .email, .phone {
      font-size: 12px;
      top: 20px;
      $height: 30px;
      height: $height;
      box-shadow: none;

      div {
        line-height: height;
      }
    }
    .email{
      right: 0;
      text-align: right;
      i {
        font-size: 18px;
      }
    }
    .phone {
      left: 10px;
      text-align: left;
    }
    .chart-row .row {
      font-size: 15px;
    }

    .charts {
      box-shadow: none;
      border: none;
      .separator {
        height: 300px;
      }
    }

    h2.tools {
      margin: 10px auto;
    }
    .tools-section {
      margin: 10px auto;
      .tool {
        $height: 25px;
        height: $height;
        line-height: $height;
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  .main {
    $contactPadding: 20px;
    .email {
      right: $contactPadding;
    }
    .phone {
      left: $contactPadding;
    }
    h1 {
      margin-bottom: 70px;
    }
    .email, .phone {
      top: 85px;
      width: 180px;
      font-size: 12px;
    }
    .charts {
      padding: 0 20px;
      .separator {
        height: 410px;
      }
    }
    h2.tools {
        margin-top: 50px;
      }
    .tools-section {
      font-size: 12px;
      margin: 30px;
    }
  }
}

@media(max-width: 670px) {
  .main {
    padding-top: $headerHeight + 90;

    .header {
      height: 130px;

      .contactNodeArea {
        height: 80px;
        top: 50px;
        width: 50%;


        &.right {
          right: 0;
        }
        &.left {
          left: 0;
          text-align: right;
          // top: 120px;
        }
      }
    }
  }
}

@media (max-width: 468px) {
  .main {
    .email, .phone {
      right: 50%;
      transform: translateX(50%);
      left: initial;
    }
    .phone {
      top: 140px;
    }
  }
}

