.main
  a.email(href="mailto:rherbert84@gmail.com")
    i.fa.fa-envelope
    div rherbert84@gmail.com
  h1 ricky herbert
  a.phone(href="tel:2069632611")
    i.fa.fa-phone
    div (206) 963-2611

  timeline

