.timeline {
  $accentColor: #6104db;
  $accentColorDark: darken($accentColor, 20%);
  $easeOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);

  position: relative;
  height: 5000px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;

  &:before {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: linear-gradient(to bottom, $accentColorDark 95%, transparent);
    height: 100%;
    content: ' ';
  }

  .column {
    flex: 0 0 50%;
    position: relative;

    &.left {
      .pointer {
        right: 12px;
      }
      .dot-area {
        right: 0;
        transform: translateX(50%);
      }
      .date {
        left: 100%;
        margin-left: 15px;
      }
      .node:hover .date {
        transform: translateX(7px) scale(1.1, 1.1);
      }
    }
    &.right {
      .pointer {
        left: 12px;
      }
      .dot-area {
        left: 0;
        transform: translateX(-50%);
      }
      .date {
        right: 100%;
        margin-right: 15px;
        text-align: right;
      }
      .node:hover .date {
        transform: translateX(-7px) scale(1.1, 1.1);
      }
    }
  }

  $nodeHoverInTransition: all 4s $easeOut;
  $nodeHoverOutTransition: all .6s $easeOut;
  $nodeIconSpacing: 50px;
  .column .node {
    position: absolute;
    padding: 0 30px;
    min-width: 300px;
    width: 89.1%;
    transition: top 1s $easeOut;

    &.notable .innards {
      border-color: $accentColor;
      box-shadow: 0px 0px 3px rgba(0,0,0,.7);

      .title {
        font-weight: 600;
      }

      hr {
        background: lighten($accentColor, 50%);
      }
    }

    &:hover {
      .innards {
        box-shadow: 0px 0px 25px rgba(0,0,0,.1);
        transform: scale(1.01, 1.01);
        transition: $nodeHoverInTransition;
      }
      .date {
        transition: $nodeHoverInTransition;
      }
    }

    &:active {
      .innards {
        box-shadow: 0px 0px 10px rgba(0,0,0,.1);
        transform: scale(.98, .98);
        transition: all .5s $easeOut;
      }
    }

    .pointer {
      position: absolute;
      font-size: 20px;
      color: rgba(0,0,0,.2);
    }
    .innards {
      padding: 15px;
      border-radius: 5px;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: 0px 0px 3px rgba(0,0,0,.1);
      background: white;
      position: relative;
      transition: $nodeHoverOutTransition;

      p {
        margin: 12px 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a.btn {
        background: transparent;
        height: 98%;
        width: 98%;
        position: absolute;
      }
      .title {
        font-size: 20px;
        line-height: 26px;
        color: $accentColor;
        padding-left: $nodeIconSpacing;
      }
      .company {
        font-size: 17px;
        line-height: 28px;
        font-weight: 600;
        color: $accentColorDark;
        padding-left: $nodeIconSpacing;
      }
      .about {
        font-size: 16px;
        color: darken($accentColor, 50%);
      }
      hr {
        border-color: rgba(0,0,0,.2);
      }
    }

    .date {
      position: absolute;
      min-width: 141px;
      font-size: 16px;
      color: $accentColor;
      font-weight: 800;
      transition: $nodeHoverOutTransition;
      vertical-align: middle;
      line-height: 18px;

      .sub-date {
        position: absolute;
        right: 0;
        top: 100%;
        color: black;
        font-weight: 300;
      }
    }
    .dot-area {
      $size: 20px;
      position: absolute;
      width: $size;
      height: $size;
      text-align: center;
      background: white;

      .dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        $size: 10px;
        border-radius: 100%;
        width: $size;
        height: $size;
        background: black;
      }
    }
    .date, .dot-area, .pointer {
      top: 20px;
    }

    .tap-indicator {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      font-size: 24px;
      display: none;

      &:before {
        color: fade-out($accentColor, .6);
      }
    }

    .node-icon {
      position: absolute;
      top: 15px;
      left: 20px;
      height: 40px;
      width: 40px;
      font-size: 32px;
      color: $accentColor;
      line-height: 55px;

      &.fa-graduation-cap, &.fa-braille {
        font-size: 28px;
      }
      &.fa-child, &.fa-tree {
        padding-left: 5px;
      }
    }
  }
}

@mixin flatTimeline {
  display: block;
  padding-top: 50px;

  &:before {
    width: 3px;
  }

  .column {
    position: absolute;
    width: 100%;

    &.right {
      right: 0;
      .date {
        text-align: center;
      }
    }
    &.left {
      .dot-area {
        transform: translateX(-50%);
      }
      .date {
        text-align: center;
      }
    }
  }

  .column .node {
    background: white;
    padding: 0;
    left: 30px;
    right: 30px;
    width: initial;

    .innards {
      padding-right: 35px;
    }

    .tap-indicator {
      display: initial;
    }

    .pointer {
      display: none;
    }
    .dot-area {
      top: -10px;
      right: initial;
      left: 50%;
    }
    .date {
      background: white;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;

      .sub-date {
        display: none;
      }
    }
  }
}

@media print {
  .timeline {
    display: block;
    padding-top: 20px;

    .column {
      position: absolute;
      width: 100%;

      &.right {
        right: 0;
      }
      &.left {
        .dot-area {
          transform: translateX(-50%);
        }
      }
    }

    .column .node {
      background: white;

      .pointer {
        display: none;
      }
      .dot-area {
        top: -10px;
        right: initial;
        left: 50%;
      }
      .date {
        background: white;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;

        .sub-date {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1075px) {
  .timeline {
    @include flatTimeline();
    height: 5100px;

    .column.left, .column.right {
      div.node {
        &:hover div.date {
          transform: translate(-50%, -1px);
        }
        .date {
          line-height: initial;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .timeline {
    height: 5300px;
  }
}

@media (max-width: 586px) {
  .timeline {
    height: 5500px;
  }
}

@media (max-width: 486px) {
  .timeline {
    height: 5800px;
  }
}

@media (max-width: 436px) {
  .timeline {
    height: 6200px;
  }
}
@media (max-width: 390px) {
  .timeline {
    height: 6600px;
  }
}
