.timeline
  .column.left
    .node.bjg
      .innards
        a.btn(href="https://play.google.com/store/apps/details?id=com.bjgenius.android&hl=en" target="_blank")
        .title purple republic inception
        .company denver, colorado
        hr
        p launching a new publication, #[i the purple republic]
        p starting a youtube channel, #[i purple republic scenes]
        p laying the foundation for #[i the purple party] to launch in michigan in the upcoming 2018 election
        p experimenting with a live-in studio art's workspace
      i.fa.fa-angle-right.pointer
      .date TODAY
      .dot-area
        .dot
    .node.tal
      .innards
        a.btn(href="http://lampshade.life" target="_blank")
        .title lampshade
        .company one-stop-coffee-shop in ypsilanti, michigan
        hr
        p renovating & opening an experimental shop in the fusion of community and commodity — pick-your-price cafe, performance space, music venue, community center, art gallery & bookshop
      i.fa.fa-angle-right.pointer
      .date 2015 - 2016
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title camper van road trip
        .company a half year trip across the u.s.
        hr
        p exploring our nation, meeting with folks from all walks of life, working on a book & traveling the open mic performance scene
      i.fa.fa-angle-right.pointer
      .date 2013 - 2014
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title las vegas
        .company a half year in sin city
        hr
        p living as a professional poker player & gonzo journalist
      i.fa.fa-angle-right.pointer
      .date 2012 - 2013
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title average joe in san francisco
        .company domesticating on the western coast
        hr
        p a fiance, writer, poker player & server at michelin-starred steakhouse
        p an #[i ofa] fellow organizing thousands of volunteers to get president obama re-elected
      i.fa.fa-angle-right.pointer
      .date 2011 - 2012
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title time to see the world
        .company a thirty-five country tour
        hr
        p staying with over fifty strangers, volunteering, exploring
        p immersing in diverse cultures, religions, politics & philosophies
      i.fa.fa-angle-right.pointer
      .date 2008 - 2010
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title high school teacher
        .company inner-new-york-city math, english & drama
        hr
        p teacher of the year
        p member of nyc teaching fellows & americorps
      i.fa.fa-angle-right.pointer
      .date 2006 - 2008
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title study abroad
        .company london, england
      i.fa.fa-angle-right.pointer
      .date 2004
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="https://umich.edu" target="_blank")
        .title two bachelor's degrees, university of michigan
        .company english/psychology & theatre/gender studies
        hr
        p inner-group relations certification
        p member of the illustrious u-m marching band
        p shift supervisor at the law dining club
      i.fa.fa-angle-right.pointer
      .date 2002 - 2006
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="http://www.bendleschools.org" target="_blank")
        .title high school graduate
        .company bendle high school, burton, michigan
        hr
        p drum major, first chair alto sax, drama club, quiz bowl, golf team, bowling team, national honors society, science club, s.a.d.d, university of michigan dual-enrollee, shift manager at dairy queen, & landlord at 16
      i.fa.fa-angle-right.pointer
      .date 1998 - 2002
      .dot-area
        .dot
    .node.degree
      .innards
        a.btn(href="http://www.bendleschools.org" target="_blank")
        .title atoms & quark
        .company caught up in quantum entanglement with the strings of the universe
        hr
        p perhaps a tree, a wave, a billygoat, but probably star matter shooting across the galaxy
      i.fa.fa-angle-right.pointer
      .date pre-1984
      .dot-area
        .dot

  .column.right
    .node.glyphite
      .innards
        a.btn(href="http://glyphite.com" target="_blank")
        .title traveling abroad reprise
        .company living & exploring self in eight countries
        hr
        p shooting a documentary, getting into photography & painting, falling in love & exploring deeper parts of the self
      i.fa.fa-angle-left.pointer
      .date 2016 - 2017
      .dot-area
        .dot
    .node.amazon
      .innards
        a.btn(href="https://amazon.com" target="_blank")
        .title bNb & live performance venue
        .company six-room bed & breakfast in ann arbor, michigan
        hr
        p live performance vaudevillian venue
      i.fa.fa-angle-left.pointer
      .date 2014 - 2015
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="https://amazon.com" target="_blank")
        .title cabin living in grand canyon
        .company a half year in arizona
        hr
        p living as bartender & writer in the wild
      i.fa.fa-angle-left.pointer
      .date 2013 - 2014
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="https://amazon.com" target="_blank")
        .title making some americans healthy
        .company a half year of life & wellness coaching
        hr
        p traveling the country as a life & wellness coach to very wealthy lawyers, primarily in hawaii & northern california
      i.fa.fa-angle-left.pointer
      .date 2012 - 2013
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="https://amazon.com" target="_blank")
        .title alone in an RV
        .company a year of reflection
        hr
        p cocooning myself in an RV without heat, in northern michigan, writing, contemplating nature, meditating, & getting quiet
      i.fa.fa-angle-left.pointer
      .date 2010 - 2011
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="http://ccny.edu" target="_blank")
        .title master's in education
        .company central college of new york
        hr
        p a leadership-education fusion
      i.fa.fa-angle-left.pointer
      .date 2006 - 2008
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="http://ccny.edu" target="_blank")
        .title first performing/teaching abroad
        .company moscow & st. petersburg, russia
        hr
        p performing & teaching theatre, performance & dramaturgy
      i.fa.fa-angle-left.pointer
      .date 2005
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="http://ccny.edu" target="_blank")
        .title a short acting career
        .company los angeles
        hr
        p acting in tv shows, commercials, documentaries
      i.fa.fa-angle-left.pointer
      .date 2003
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="http://ccny.edu" target="_blank")
        .title a first taste of politics
        .company flint, michigan
        hr
        p working on a local mayoral campaign
      i.fa.fa-angle-left.pointer
      .date 2000
      .dot-area
        .dot
    .node.r3
      .innards
        a.btn(href="http://ccny.edu" target="_blank")
        .title a star is born
        .company flint, michigan
        hr
        p one of ten kids, growing up fast and happy in a loud, loving family on welfare — foodstamps, utility assistance, medicaid, church food boxes
      i.fa.fa-angle-left.pointer
      .date 1984 - 2000
      .dot-area
        .dot
