.timeline
  .column.left
    .node.notable
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://medium.com/the-purple-republic" target="_blank")
        i.fa.fa-bank.node-icon
        .title purple republic ignites
        .company an alternative to persuasion, rhetoric & dogma: carving curious space
        hr
        p the purple party — a different dialogue for a different democracy. representative. playful. aware.
        p purple’s play — an absurdist political thriller follows the lives and campaigns of three longshot senate candidates conjured from the imagination of their creator
      i.fa.fa-angle-right.pointer
      .date TODAY
      .dot-area
        .dot
    .node.notable
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://ypsilampshade.tumblr.com" target="_blank")
        i.fa.fa-coffee.node-icon
        .title lampshade
        .company one-stop-coffee-shop in ypsilanti, michigan
        hr
        p renovate & open an experimental shop fusing community & commodity — a pick-your-price cafe, performance space, music venue, community center, art gallery & bookshop
        p hundreds of performers & events
        p voted best cafe in ypsilanti months after opening
        p political hub—debate watch parties, discourse & sanders homebase
      i.fa.fa-angle-right.pointer
      .date 2015 - 2016
      .dot-area
        .dot
    .node
      .innards
        a.btn(href="" target="_blank")
        i.fa.fa-tree.node-icon
        .title into the wild & h.s. thompson life
        .company what is the nature of existence?
        hr
        p write, meditate in a secluded rv in northern michigan
        p cross-country road trip, meet with folks from all walks
        p travel the open mic performance scene
        p writer-bartender, cabin-dweller in the grand canyon's wild expanse
        p professional poker player & gonzo journalist in las vegas
      i.fa.fa-angle-right.pointer
      .date 2012 - 2014
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-left.tap-indicator
        a.btn(href="http://cookiesforcambodia.tumblr.com" target="_blank")
        i.fa.fa-shower.node-icon
        .title average joe in san francisco
        .company domesticating on the western coast
        hr
        p a fiance, writer & server at michelin-starred steakhouse
        p organize thousands of volunteers as an #[i ofa] fellow to get president obama re-elected
        p launch #[i cookies for cambodia], a not-for-profit inspired by third-world travels & volunteer work
      i.fa.fa-angle-right.pointer
      .date 2010 - 2012
      .dot-area
        .dot
    .node.notable
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://www.chelseacte.com" target="_blank")
        i.fa.fa-pencil.node-icon
        .title inner-city high school teacher
        .company new york city — math, english & marketing
        hr
        p teacher of the year
        p member of nyc teaching fellows & americorps
        p run after-school drama & journalism club
        p run after-school regents & sat/act prep
      i.fa.fa-angle-right.pointer
      .date 2006 - 2008
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://www.ucl.ac.uk" target="_blank")
        i.fa.fa-book.node-icon
        .title study abroad
        .company university college london
      i.fa.fa-angle-right.pointer
      .date 2004
      .dot-area
        .dot
    .node.notable
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://umich.edu" target="_blank")
        i.fa.fa-graduation-cap.node-icon
        .title university of michigan
        .company dual bachelor's degrees
        hr
        p b.g.s. focused on english, psychology & political science
        p b.t.a. in theatre with gender studies minor
        p inner-group relations certification
        p member of the illustrious u-m marching band
        p shift supervisor at the law dining club
      i.fa.fa-angle-right.pointer
      .date 2002 - 2006
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://www.bendleschools.org" target="_blank")
        i.fa.fa-drivers-license-o.node-icon
        .title high school
        .company bendle high school, burton, michigan
        hr
        p drum major, first chair alto sax, drama club, quiz bowl, golf team, bowling team, national honors society, science club, s.a.d.d, university of michigan dual-enrollee, shift manager at dairy queen & landlord at 16
      i.fa.fa-angle-right.pointer
      .date 1998 - 2002
      .dot-area
        .dot
    .node.notable
      .innards
        a.btn(href="" target="_blank")
        i.fa.fa-heartbeat.node-icon
        .title a star is born
        .company flint, michigan
        hr
        p one of ten kids, growing up fast & happy in a loud, loving family on welfare — foodstamps, utility assistance, medicaid, church food boxes
      i.fa.fa-angle-right.pointer
      .date 1984 - 2000
      .dot-area
        .dot

  .column.right
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://www.lampshade.life" target="_blank")
        i.fa.fa-suitcase.node-icon
        .title lampshade goes abroad
        .company practice the purple party paradigm
        hr
        p globally explore the nature of existence throughout europe, asia & oceania — shoot a documentary, photo neuve journalism, paint, write & deep, meditative reflection
      i.fa.fa-angle-left.pointer
      .date 2016 - 2017
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://www.airbnb.com/users/show/2630250" target="_blank")
        i.fa.fa-bed.node-icon
        .title open a bnb & live performance venue
        .company six-room bed & breakfast in ann arbor, michigan
        hr
        p live performance vaudevillian venue
        p poets, circus acts, comedians, musicians, painters, writers, philosophers, dancers
        p 130+ five-star reviews on airbnb
      i.fa.fa-angle-left.pointer
      .date 2014 - 2015
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="http://honor-thy-self.tumblr.com" target="_blank")
        i.fa.fa-child.node-icon
        .title traveling life & wellness coach
        .company a half year in hawaii & northern california
        hr
        p work with high-profile lawyers to balance mind, body & spirit on an ever-isolating, demanding, bottom-line planet
      i.fa.fa-angle-left.pointer
      .date 2012 - 2013
      .dot-area
        .dot
    .node.notable
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://animoto.com/play/5VE6E1pgB4EVaaLEe1MCCg" target="_blank")
        i.fa.fa-globe.node-icon
        .title world travels
        .company a thirty-five country tour
        hr
        p stay with over fifty strangers, volunteer, explore
        p immerse in diverse cultures, religions, politics & philosophies
      i.fa.fa-angle-left.pointer
      .date 2008 - 2010
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://www.ccny.cuny.edu" target="_blank")
        i.fa.fa-graduation-cap.node-icon
        .title master's
        .company city college of new york
        hr
        p 4.0 gpa
        p honors thesis
        p a leadership-special education fusion
      i.fa.fa-angle-left.pointer
      .date 2006 - 2008
      .dot-area
        .dot
    .node
      .innards
        i.fa.fa-angle-right.tap-indicator
        a.btn(href="https://www.chekhovfest.ru/en" target="_blank")
        i.fa.fa-signing.node-icon
        .title perform & teach abroad
        .company moscow & st. petersburg, russia
        hr
        p co-write & play lead in all-new, original production at #[i chekhov international theatre festival]
        p lead a series of immersive lectures in queer theatre & dramaturgy
      i.fa.fa-angle-left.pointer
      .date 2005
      .dot-area
        .dot
    .node
      .innards
        a.btn(href="" target="_blank")
        i.fa.fa-film.node-icon
        .title a short acting career
        .company los angeles
        hr
        p tv shows, movies,  documentaries & a commercial
      i.fa.fa-angle-left.pointer
      .date 2003
      .dot-area
        .dot
    .node
      .innards
        a.btn(href="" target="_blank")
        i.fa.fa-gavel.node-icon
        .title a first taste of politics
        .company burton, michigan
        hr
        p work on a local mayoral campaign
      i.fa.fa-angle-left.pointer
      .date 2000
      .dot-area
        .dot
    .node
      .innards
        a.btn(href="" target="_blank")
        i.fa.fa-braille.node-icon
        .title atoms & quark
        .company caught up in quantum entanglement
        hr
        p perhaps a tree, a wave, a billygoat, but probably star matter shooting across the galaxy
      i.fa.fa-angle-left.pointer
      .date pre-1984
      .dot-area
        .dot
